<main>
  <div class="container">
    <div class="container-left">
      <div class="content">
        <h1 class="info-fullname">Vu Cong Son</h1>
        <span class="info-position">Developer</span>
        <div class="avatar">
          <img src="/img/logo.png" alt="" class="avatar-img" />
        </div>
        <div class="info-heading">Information</div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <span class="info-text">
            04/06/2004
          </span>
        </div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-regular fa-user"></i>
          </div>
          <span class="info-text">
            Nam
          </span>
        </div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <span class="info-text">
            03456789
          </span>
        </div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <span class="info-text">
            sonvcpd@gmail.com
          </span>
        </div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-brands fa-github"></i>
          </div>
          <span class="info-text">
            <a href="">https://github.com</a>
          </span>
        </div>
        <div class="info-block">
          <div class="info-icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <span class="info-text">
            Lien Chieu, Da Nang
          </span>
        </div>
      </div>
      <div class="content">
        <div class="info-heading">Skills</div>
        <div class="info-block skill-block">
          <span class="info-text">- Javascript, Typescript, ReactJS, NodeJS,
            PHP, Tailwind CSS, MongoDB.</span>
          <span class="info-text">- My English reading comprehension is good.</span>
        </div>
      </div>
      <div class="content">
        <div class="info-heading">Hobbies</div>
        <div class="info-block skill-block">
          <span class="info-text">- Play football, traveling, write code, Read
            books about technology.</span>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="content">
        <div class="info-heading">career goal</div>
        <div class="info-block skill-block">
          <span class="info-text">
            My career goal is to become an excellent fullstack developer. I will
            continuously learn and refine both front-end and back-end skills to
            build comprehensive and efficient web applications. I will seek
            opportunities to practice and work with experts in the field to
            achieve this goal.
          </span>
        </div>
      </div>
      <div class="content">
        <div class="info-heading">Education</div>
        <div class="info-block education-block">
          <span class="info-text info-title">FPT Polytechnic</span>
          <span>9/2022 - current</span>
        </div>
        <div class="info-block education-block">
          <span class="major">Major: Web Developer</span>
        </div>
      </div>
      <div class="content">
        <div class="info-heading">Work experience</div>
        <div class="info-block education-block">
          <span class="info-text info-title">FPT Polytechnic</span>
          <span>9/2022 - current</span>
        </div>
        <div class="info-block education-block">
          <span class="major">Major: Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</main>