<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <%- include("../partials/header.ejs")%>

        <div class="container">
            <h3 class="text1">Chào mừng bạn ghé thăm Website</h3>
            <% if(kindOfDay==='Chủ Nhật' || kindOfDay==='thứ bảy' ) { %>
                <h2>Hôm nay là cuối tuần </h2>
                <% } else { %>
                    <h2>Hôm nay là thứ <%= kindOfDay %>
                    </h2>
                    <% } %>
        </div>

        <%- include("../partials/footer.ejs")%>
</body>

</html>