<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Book Store </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <article>
        <h2>San Pham</h2>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
        <div class="product">
            <p class="title">book</p>
            <img src="https://cdn.popsww.com/blog/sites/2/2022/03/Tuyet-Dinh-720x1080.jpg" alt="">
            <p class="title">100$</p>
            <p>Truyện nói về nhân vật Cao Ảnh – một tân sinh viên của Học viện Mỹ thuật Quảng Châu. Trong lần đầu đi
                học, vì cậu tới quá sớm nên đã phải đến trú tại một khách sạn bí ẩn ở sau khu phố. Những tình tiết
                kì lạ bí ẩn bắt đầu mở ra từ đây, Cao Ảnh bắt đầu có những giấc mơ hoang đường. Cậu không biết liệu
                người thanh niên mặc cổ phục năm xưa đã cứu cậu ngày đó là có thật hay chỉ là ảo giác…</p>
            <button>Add to cart</button>
        </div>
    </article>

</body>

</html>